/*
Title:      screen.scss
Author:     kevin@kevinfinlayson.com
*/

// SASS libraries
//--------------------------------------------

@import 'bourbon/bourbon';


// SASS variables
//--------------------------------------------

// Colors

$body-color: #222;
$link-color: #86B1BF;
$border-color: #ddd;
$background: #fff;

$twitter-blue-color: #33CCFF;
$rss-orange-color: orange;
$dribbble-pink-color: #EA4C89;

// Typefaces
//--------------------------------------------

$body-text: "Elena-Regular", "helvetica neue", arial, sans-serif;
$headers: "Elena-Bold", "helvetica neue", arial, sans-serif;

// Reference for webfonts.fonts.com font names
// font-family:'Century Gothic W01 Bold';
// font-family:'CenturyGothicW01-BoldIt';
// font-family:'CenturyGothicW01-Italic';
// font-family:'Century Gothic W01';

/* Reset styles
--------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: none;
}

/* Highlighting reset */

::-moz-selection {
  background: #B4D5FE;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #B4D5FE;
  color: #fff;
  text-shadow: none;
}

/* General
--------------------------------------------- */

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, button, input, select, textarea {
  font-family: $body-text;
  color: $body-color;
}

audio[controls], canvas, video {
  display: inline-block;
  *display:
  inline; *zoom: 1;
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  text-align: center;
}

figure {
  margin: 0 0 1.6em 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

/* Page Structure
--------------------------------------------- */

body {
  margin: 0;
  font-size: 87.5%;
  line-height: 1.6;
  background-color: $background;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/* Typography
--------------------------------------------- */

h1, h2, h3, h4, h5 {
  font-family: $headers;
  line-height: 1.3;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-family: $body-text;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 112.5em;
}

h5 {
  font-size: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
  color: $body-color;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: $link-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-color;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
  color: $body-color;
}

b, strong {
  font-weight: 700;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.8em
}

p {
  margin-bottom: 1.6em;
}


/* Header
--------------------------------------------- */


header[role=banner] {
  margin: 3.2em auto 4.8em auto;
  padding: 3.2em 0;
  border-bottom: 1px solid $border-color;
  @include clearfix;
  line-height: 2em;
  max-width: 960px;
}

a.logo {
  font-family: $headers;
  display: inline-block;
  color: $body-color;
  width: 25%;
}

/* Navigation
--------------------------------------------- */

nav {
  display: inline-block;
  width: 75%;
  text-align: right;
  float: right;
  margin-right: -1.6em;
}

nav a, nav a:visited {
  display: inline;
  font-size: 87.5%;
  width: 1;
  text-align: right;
  margin: 0 1.6em;
  color: $body-color;
}

nav a:hover {
  color: $link-color;
}

.url_index nav a.blog, .url_index nav a.blog:visited, .url_about nav a.about, .url_about nav a.about:visited {
  color: $link-color;
  text-decoration: underline;
}


/* Articles
--------------------------------------------- */

article {
  margin: 0 0 6.4em 0;
}

article header {
  margin: 0 0 1.6em 0;
  text-align: center;
}

article header h1 {
  margin: 0 0 0.4em 0;
}

article aside {
  font-size: 87.5%;
}

article aside abbr {
  font-style: italic;
}

article p, article ul, article dl  {
  margin: 0 auto 1.6em auto;
}

article img, article figure {
  margin: 3.2em auto 3.2em auto;
}

article figure img {
  margin-bottom: 1.6em;
}

article p, article ul, article dl {
  max-width: 768px;
}

/* Pagination--------------------------------------------- */

.pagination {
  @include clearfix;
  margin: 0 auto 1.6em auto;
  max-width: 960px;
  font-size: 87.5%;
}

.pagination div {
  float: left;
  width: 50%;
  display: block;
  height: 1.6em;
}
.next {
  text-align: right;
}


/* Footer
--------------------------------------------- */

footer[role=contentinfo] {
  font-style: italic;
  font-size: 87.5%;
  padding: 3.2em 0;
  margin: 0 auto;
  text-align: center;
  max-width: 960px;
  border-top: 1px solid $border-color;
}

.elsewhere {
  display: none;
  padding: 1.6em 0;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

a.social-link, a.social-link:visited {
  display: inline-block;
  width: 2em;
  height: 2em;
  @include border-radius(1em);
  text-indent: -100%;
  overflow:hidden;
  white-space: nowrap;
  background-color: $border-color;
  margin: 0 0.2em;
  @include transition(background-color, 0.1s, linear)
}

a.twitter-icon:hover {
  background-color: $twitter-blue-color;
}

a.rss-icon:hover {
  background-color: $rss-orange-color;
}

a.dribbble-icon:hover {
  background-color: $dribbble-pink-color;
}


/* About
--------------------------------------------- */

.portrait {
  margin-bottom: 1.6em;
}

.portrait img {
  width: 12em;
  height: 12em;
  @include border-radius(6em);
}


/* Responsiveness
--------------------------------------------- */


@media only screen and (min-width: 480px) {

  /* Page structure - 480 */

  body {
    font-size: 100%;
  }

}

@media only screen and (min-width: 768px) {

  /* Header - 768 */

   header[role=banner] {
     width: 75%;
   }

  /* Articles - 768 */

  article p, article ul, article dl {
    width: 75%;
  }

  article img, article figure {
    display: block;
    max-width: 90%;
  }

  /* Pagination - 768 */

  .pagination {
    width: 75%;
  }

  /* Extra - 768 */

  aside[role=complementary] {
    width: 75%;
  }

  /* Footer - 768 */

  footer[role=contentinfo] {
    width: 75%;
  }

}


@media only screen and (min-width: 960px) {

  /* Page structure - 960 */

  body {
    font-size: 112.5%;
  }

  /* Articles - 960 */

  article p, article ul, article dl {
    width: 60%;
  }

}

@media only screen and (min-width: 1020px) {

  /* Page structure - 960 */

  body {
    font-size: 125%;
  }

}



/* Print
--------------------------------------------- */


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
