/* Stylesheet for kevinfinlayson.com */

@import 'bourbon/bourbon';

// SASS variables

// Colors

$link: #EE4729;
$medium-grey: #949494;
$medium-grey: #cfcfcf;
$grey: #888888;
$dark-grey: #454545;
$black: #363636;
$border: #eeeeee;
$background: #F0F2F3;
$ultra-grey: #f5f5f5;

// Typefaces: font-family stacks

$sans: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
$serif: "skolar-1","skolar-2", georgia, serif;

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio[controls], canvas, video {
  display: inline-block;
  *display:
  inline; *zoom: 1;
}

/* Base */

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, button, input, select, textarea {
  font-family: $serif;
  color: $black;
}

body {
  font-size: 0.8889em;
  margin: 0;
  line-height: 1.6;
}

/* Selection */

::-moz-selection {
  background: #B2D2F8;
  text-shadow: none;
}

::selection {
  background: #B2D2F8;
  text-shadow: none;
}

/* Typography */

h1 {
  font-size: 1.5em;
  font-family: $serif;
  font-weight: 400;
  margin: 0 0 0.4em 0;
  line-height: 1.3;
}

h2 {
  font-size: 0.8889em;
  margin: 1em 0;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
}

h1 a, h1 a:visited, h2 a, h2 a:visited {
  color: $black;
}

a, a:visited {
  color: $black;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
  color: $black;
}

b, strong {
  font-weight: 600;
}

blockquote {
  margin: 1em 40px;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

menu, ol, ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 1em
}

ul > li:first-child {
  margin-top: 0;
}

p {
  margin: 0.8em 0;
}

figcaption {
  font-size: 0.7778em;
  color: $grey;
  margin: 1em 0 0;
  display: inline-block;
  font-family: $sans;
  font-weight: 500;
}

figcaption a, figcaption a:visited {
  white-space: nowrap;
  color: $grey;
}

/* Emebedded */

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

figure {
  margin: 0.8em 0 0;
}

/* Global */

.more {
  display: inline-block;
  margin: 1em 0;
}

/* Structure */

.container {
  min-width: 280px;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

header[role=banner] {
  padding: 2em 0;
  border-bottom: 1px solid $border;
  margin-bottom: 2em;
  @include clearfix;
}

.logo {
  position: absolute;
  top: 20px;
  left: 10px;
  height: 42px;
  width: 42px;
  display: block;
  text-indent: -100%;
  line-height: 0;
  white-space: nowrap;
  background: $link url(/assets/logo-small.png) center center;
  @include border-radius(21px);
}

nav {
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.7778em;
  font-weight: 500;
  padding: 15px 0 0;
  margin: 0 -10px 0 20px;
  float: right;
}

nav a, nav a:visited {
  color: $grey;
  display: inline-block;
  text-decoration: none;
  line-height: 1.5em;
  margin: 0 10px 0 0;
  padding: 3px 5px;
}

/* Articles */

section[role=main] {
  width: 100%;
}

article {
  font-family: $serif;
  margin-bottom: 1.6em;
  padding: 0.4em 0 0.8em 0;
  border-bottom: 1px solid $border;
}

article aside {
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $grey;
  font-size: 0.8889em;
  font-weight: 500;
  margin: 0 0 0.8em 0;
}

/* Pagination */

.pagination {
  @include clearfix;
  border-bottom: 1px solid $border;
  padding: 0 0 1em 0;
}

.pagination a, .index.pagination span {
  display: inline-block;
  float: left;
  width: 50%;
}

.index.pagination span {
  color: $grey;
}

.single.pagination span {
  display: none;
}

.next {
  text-align: right;
}

/* Extra */

.extra section {
  border-bottom: 1px solid $border;
  padding: 1em 0;
}

/* Elsewhere */

a.social-link, a.social-link:visited {
  display: inline-block;
  font-weight: 500;
  line-height: 26px;
}

.social-link span {
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: $medium-grey;
  background-repeat: no-repeat;
  background-image: url(../assets/elsewhere.png);
  background-size: 150px 75px;
  margin-right: 6px;
  @include transition(background-color, 0.1s, linear);
}

.social-link span.twitter-icon {
  background-position: -15px center;
  width: 44px;
}

.social-link:hover span.twitter-icon {
  background-color: #33CCFF;
}

.social-link span.rss-icon {
  background-position: -98px center;
  margin: 0 13px 0 7px;
}

.social-link:hover span.rss-icon {
  background-color: orange;
}

/* Footer */

footer[role=contentinfo] {
  padding: 2em 0;
}

@media only screen and (min-width: 480px) { /* iPad */

  /* Base - iPad */

  body {
    font-size: 1.125em;
  }

  /* Typography - iPad */

  h1 {
    font-size: 2em;
    margin: 0 0 1.6em 0;
  }

  p {
    margin: 1.6em 0;
  }

  /* Header - iPad */

  header[role=banner] {
      padding: 2em 0 2em 0;
  }

  nav[role=navigation] {
    margin-right: -40px;
  }

  nav[role=navigation] a {
    margin: 0 40px 0 0;
  }

  /* Extra - iPad */
  .extra {
    padding: 1em 0 4em 0;
    @include clearfix;
    border-bottom: 1px solid $border;
  }

  .extra section {
    float: left;
    width: 47.65%;
    margin-right: 4.7%;
    border-bottom: none;
  }

  .extra section.follow {
    margin-right: 0;
  }

  /* Pagination - iPad */

  .single.pagination span {
    display: inline-block;
  }

}

@media only screen and (min-width: 769px) { /* Notebook

  /* Typography - Notebook */

  figcaption {
    position: absolute;
    left: -25%;
    bottom: 0;
    width: 20%;
  }

  /* Embedded - Notebook */

  figure {
    margin: 0 0 1.6em 0;
    position: relative;
  }

  /* Header - Notebook */

  .logo {
    width: 66px;
    height: 66px;
  }


}

@media only screen and (min-width: 960px) {


  /* Header - Desktop */

  header {
    margin-bottom: 4em;
  }

  /* Articles - Desktop */

  article {
    padding: 0 0 2em 20%;
  }

  article aside {
    margin-left: -25%;
    width: 20%;
    float: left;
  }

  article p, article ul, article blockquote {
    margin-right: 20%
  }

  /* Extra - Desktop */

  .extra {
    padding: 1em 0 4em 20%;
  }

  /* Footer - Desktop */

  footer[role=contentinfo] {
    padding: 3em 0 4em 0;
  }


}




@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
