/*
Syntax error: Invalid CSS after "// Colors": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 17 of css/screen.scss

12: // SASS variables
13: //--------------------------------------------
14: 
15: // Colors
16: 
17: <<<<<<< HEAD
18: $body-color: #222;
19: $link-color: #3C9DBF;
20: $border-color: #e1e1e1;
21: $background: #fff;
22: =======

Backtrace:
css/screen.scss:17
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/scss/parser.rb:1014:in `expected'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/scss/parser.rb:960:in `expected'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/scss/parser.rb:28:in `parse'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/engine.rb:326:in `_to_tree'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/engine.rb:299:in `_render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/engine.rb:246:in `render'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:332:in `update_stylesheet'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:201:in `each'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:286:in `block (3 levels) in watch'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:51:in `call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:51:in `block in file_event_fn'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `[]'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `block in run_events'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `each'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `run_events'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:37:in `block (3 levels) in start!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:36:in `each'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:36:in `block (2 levels) in start!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:35:in `each'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/lib/sass/plugin/listener.rb:35:in `block in start!'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/kevin/.rvm/gems/ruby-1.9.2-p136/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"// Colors\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 17 of css/screen.scss\A \A 12: // SASS variables\A 13: //--------------------------------------------\A 14: \A 15: // Colors\A 16: \A 17: <<<<<<< HEAD\A 18: $body-color: #222;\A 19: $link-color: #3C9DBF;\A 20: $border-color: #e1e1e1;\A 21: $background: #fff;\A 22: ======="; }
