/* Stylesheet for kevinfinlayson.com */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Base */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, button, input, select, textarea {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", georgia, serif;
  color: #363636; }

body {
  font-size: 0.75em;
  margin: 0;
  line-height: 1.6667;
  background-color: #f0f2f3;
  padding: 10px; }

/* Selection */
::-moz-selection {
  background: #B2D2F8;
  text-shadow: none; }

::selection {
  background: #B2D2F8;
  text-shadow: none; }

/* Typography */
h1 {
  font-size: 1.5em;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", georgia, serif;
  font-weight: 400;
  margin: 0 0 0.4em 0;
  line-height: 1.3; }

h2 {
  font-size: 0.8889em;
  margin: 1em 0;
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500; }

h1 a, h1 a:visited, h2 a, h2 a:visited {
  color: #363636; }

a, a:visited {
  color: #363636;
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0;
  color: #363636; }

b, strong {
  font-weight: 600; }

blockquote {
  margin: 1em 40px; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

menu, ol, ul {
  list-style: none;
  padding: 0; }

li {
  margin-top: 1em; }

ul > li:first-child {
  margin-top: 0; }

p {
  margin: 1.6667em 0; }

figcaption {
  font-size: 0.7778em;
  color: #888888;
  margin: 1em 0 0;
  display: inline-block;
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
  font-weight: 500; }

figcaption a, figcaption a:visited {
  white-space: nowrap;
  color: #888888; }

/* Emebedded */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

figure {
  margin: 0.8em 0 0; }

/* Global */
.more {
  display: inline-block;
  margin: 1em 0; }

/* Structure */
.container {
  min-width: 258px;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e2e2e2; }

/* Header */
header[role=banner] {
  padding: 26px 0 0;
  margin-bottom: 2em;
  border-bottom: 1px solid #eeeeee;
  position: relative; }

.logo {
  position: absolute;
  top: 20px;
  left: -10px;
  height: 42px;
  width: 42px;
  display: block;
  text-indent: -100%;
  line-height: 0;
  white-space: nowrap;
  background: #ee4729 url(/assets/logo-small.png) center center;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
  border-radius: 21px; }

nav {
  height: 18px;
  padding: 3px 0 7px 32px;
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8333em;
  font-weight: 500;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  text-align: right;
  margin: 0 0 1.6667em 0; }

nav a, nav a:visited {
  color: #888888;
  display: inline-block;
  text-decoration: none;
  line-height: 2em;
  margin: 0 0 0 1em;
  padding: 3px 0; }

nav > a:first-child {
  margin-left: 0; }

.profile {
  color: #888888;
  font-style: italic;
  font-size: 1.0833em;
  line-height: 1.8461em; }

.profile p {
  margin: 1.4445em 0 1.6667em 0; }

/* Articles */
section[role=main] {
  width: 100%; }

article {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", georgia, serif;
  margin-bottom: 1.6em;
  padding: 0.4em 0 0.8em 0;
  border-bottom: 1px solid #eeeeee; }

article aside {
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #888888;
  font-size: 0.8889em;
  font-weight: 500;
  margin: 0 0 0.8em 0; }

/* Pagination */
.pagination {
  zoom: 1;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 1em 0; }
  .pagination:before, .pagination:after {
    content: "";
    display: table; }
  .pagination:after {
    clear: both; }

.pagination a, .index.pagination span {
  display: inline-block;
  float: left;
  width: 50%; }

.index.pagination span {
  color: #888888; }

.single.pagination span {
  display: none; }

.next {
  text-align: right; }

/* Extra */
.extra section {
  border-bottom: 1px solid #eeeeee;
  padding: 1em 0; }

/* Elsewhere */
a.social-link, a.social-link:visited {
  display: inline-block;
  font-weight: 500;
  line-height: 26px; }

.social-link span {
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-image: url(../assets/elsewhere.png);
  background-size: 150px 75px;
  margin-right: 6px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

.social-link span.twitter-icon {
  background-position: -15px center;
  width: 44px; }

.social-link:hover span.twitter-icon {
  background-color: #33CCFF; }

.social-link span.rss-icon {
  background-position: -98px center;
  margin: 0 13px 0 7px; }

.social-link:hover span.rss-icon {
  background-color: orange; }

/* Footer */
footer[role=contentinfo] {
  padding: 2em 0; }

@media only screen and (min-width: 480px) {
  /* iPad */
  /* Base - iPad */
  body {
    font-size: 1.125em; }

  /* Typography - iPad */
  h1 {
    font-size: 2em;
    margin: 0 0 1.6em 0; }

  p {
    margin: 1.6em 0; }

  /* Header - iPad */
  header[role=banner] {
    padding: 2em 0 2em 0; }

  nav[role=navigation] {
    margin-right: -40px; }

  nav[role=navigation] a {
    margin: 0 40px 0 0; }

  /* Extra - iPad */
  .extra {
    padding: 1em 0 4em 0;
    zoom: 1;
    border-bottom: 1px solid #eeeeee; }
    .extra:before, .extra:after {
      content: "";
      display: table; }
    .extra:after {
      clear: both; }

  .extra section {
    float: left;
    width: 47.65%;
    margin-right: 4.7%;
    border-bottom: none; }

  .extra section.follow {
    margin-right: 0; }

  /* Pagination - iPad */
  .single.pagination span {
    display: inline-block; } }
@media only screen and (min-width: 769px) {
  /* Notebook

  /* Typography - Notebook */
  figcaption {
    position: absolute;
    left: -25%;
    bottom: 0;
    width: 20%; }

  /* Embedded - Notebook */
  figure {
    margin: 0 0 1.6em 0;
    position: relative; }

  /* Header - Notebook */
  .logo {
    width: 66px;
    height: 66px; } }
@media only screen and (min-width: 960px) {
  /* Header - Desktop */
  header {
    margin-bottom: 4em; }

  /* Articles - Desktop */
  article {
    padding: 0 0 2em 20%; }

  article aside {
    margin-left: -25%;
    width: 20%;
    float: left; }

  article p, article ul, article blockquote {
    margin-right: 20%; }

  /* Extra - Desktop */
  .extra {
    padding: 1em 0 4em 20%; }

  /* Footer - Desktop */
  footer[role=contentinfo] {
    padding: 3em 0 4em 0; } }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
