/*
Stylesheet for kevinfinlayson.com
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
Base
*/
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, button, input, select, textarea {
  font-family: "skolar-1", "skolar-2", georgia, serif;
  color: #717171; }

body {
  margin: 0;
  line-height: 1.6; }

/*
Selection
*/
::-moz-selection {
  background: #B2D2F8;
  text-shadow: none; }

::selection {
  background: #B2D2F8;
  text-shadow: none; }

/*
typography
*/
h1 {
  font-size: 2em;
  font-family: "skolar-1", "skolar-2", georgia, serif;
  font-weight: 400; }

h2 {
  font-size: 0.8889em;
  margin: 2em 0;
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500; }

h1 a, h1 a:visited, h2 a, h2 a:visited {
  color: #363636; }

a, a:visited {
  color: #363636;
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0;
  color: #363636; }

b, strong {
  font-weight: 600; }

blockquote {
  margin: 1em 40px; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

menu, ol, ul {
  list-style: none;
  padding: 0; }

li {
  margin-bottom: 0.75em; }

p {
  margin: 1.6em 0; }

/* Emebedded */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

figure {
  margin: 0; }

/* Structure */
.container {
  min-width: 280px;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px; }

/* header */
header[role=banner] {
  padding: 3em 0 2em 0;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 4em;
  zoom: 1; }
  header[role=banner]:before, header[role=banner]:after {
    content: "";
    display: table; }
  header[role=banner]:after {
    clear: both; }

.logo {
  float: left; }

nav[role=navigation] {
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 23px 0;
  font-size: 0.7778em;
  float: right;
  font-weight: 500; }

nav a, nav a:visited {
  color: #717171;
  display: inline-block;
  line-height: 1.4;
  text-decoration: none;
  margin: 0 0 0 80px; }

nav > a:first-child {
  margin-left: 0; }

.home nav a.blog {
  color: #363636; }

/*
Articles
*/
section[role=main] {
  width: 100%;
  padding-bottom: 2em;
  border-bottom: 1px solid #d6d6d6; }

article {
  font-family: "skolar-1", "skolar-2", georgia, serif; }

article aside {
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #717171;
  font-size: 0.7778em;
  font-weight: 500; }

/*
Complementary
*/
.extra {
  padding: 1em 0 4em 20%;
  border-bottom: 1px solid #d6d6d6;
  zoom: 1; }
  .extra:before, .extra:after {
    content: "";
    display: table; }
  .extra:after {
    clear: both; }

.extra section {
  float: left;
  width: 47.65%;
  margin-right: 4.7%; }

.extra section.working-on {
  margin-right: 0;
  display: none; }

#dribbble ul {
  margin-left: 5%; }

#dribbble li a {
  max-width: 28%;
  margin-left: 5%;
  height: auto;
  float: left; }

#dribbble li a img {
  float: left;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.3); }

/* Elsewhere */
a.social-link, a.social-link:visited {
  line-height: 28px;
  display: block;
  color: #949494;
  font-weight: 500; }

.social-link span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: #cfcfcf;
  background-image: url(../assets/elsewhere-icons@2x.png);
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 8px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  background-size: 128px 28px; }

.social-link .icon-twitter {
  background-position: -10px center; }

.social-link:hover span.icon-twitter {
  background-color: #33CCFF; }

.social-link .icon-dribbble {
  background-position: -50px center; }

.social-link:hover span.icon-dribbble {
  background-color: #EA4C89; }

.social-link .icon-my-studio {
  background-position: -88px center; }

.social-link:hover span.icon-my-studio {
  background-color: #66BEEB; }

/* Footer */
footer[role=contentinfo] {
  padding: 3em 0 3em 20%;
  font-size: 0.7778em;
  color: #717171;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", arial, sans-serif; }

@media only screen and (min-width: 1000px) {
  /*
  Base
  */
  body {
    font-size: 1.125em; }

  /*
  Articles
  */
  article {
    padding: 0 0 2em 20%; }

  article aside {
    margin-left: -25%;
    width: 20%;
    float: left; }

  article p, article ul, article blockquote {
    margin-right: 20%; } }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
