<div class="l-container l-footer-container">
  <footer id="main-footer">
    <p class="copyright">© 2013 Kevin Finlayson, All Rights Reserved</p><!-- .copyright -->
    <div class="main-footer-email">
      <%= link_to 'hello@kevinfinlayson.com', 'mailto:hello@kevinfinlayson.com' %>
    </div><!-- .main-footer-email -->
  </footer>
</div><!-- .l-container .l-footer-container -->