<div class="extra" role="complementary">
  <section class="blurb">
    <header><h2>About</h2></header>
    <p>I’m an interface design based in Montréal, Quebec. This is where I collect written piece related to design and my own practice.</p>
    <a href="/about/" title="More">More →</a>
  </section><!-- blurb -->
  <section class="working-on">
    <header><h2>What I’m Working on</h2></header>
    <div id="dribbble"></div><!-- dribbble -->
    <script type="text/javascript" src = "https://halfcourtshot.googlecode.com/svn/tags/101129.1100/js/half-court-shot.jsapp.mh.min.js"></script>
    <script type="text/javascript">var hcs = new HalfCourtShot({ jersey: "kevinfinlayson", shots: 3, goal: "dribbble" });</script>

  </section><!-- working-on -->
  <!-- <section class="elsewhere">
    <header><h2>Elsewhere</h2></header>
    <ul>
      <li><a href="http://twitter.com/kevinfinlayson" title="@kevinfinlayson" class="social-link"><span class="icon-twitter"></span> Twitter</a></li>
      <li><a href="http://dribbble.com/kevinfinlayson" title="kevinfinlayson on Dribbble" class="social-link"><span class="icon-dribbble"></span> Dribbble</a></li>
      <li><a href="http://dustandmold.net" title="Dust and Mold Design" class="social-link"><span class="icon-my-studio"></span> My Studio</a></li>
    </ul>
  </section> --><!-- elsewhere -->
</div><!-- end of extra -->