<div class="extra" role="complementary">
  <!-- <section class="blurb">
    <header><h2>About</h2></header>
    <p>I’m an interface designer based in Montréal, Quebec. This is where I collect written piece related to design and my own practice.</p>
    <a href="/about/" title="More" class="more">More →</a>
  </section> --><!-- blurb -->
  <section class="follow">
    <header><h2>Follow</h2></header>
    <ul>
      <li><a href="http://twitter.com/kevinfinlayson" title="@kevinfinlayson" class="social-link"><span class="twitter-icon"></span> Follow me on Twitter</a></li>
      <li><a href="/feed" title="RSS" class="social-link"><span class="rss-icon"></span> Subscribe to RSS</a></li>
    </ul>
  </section><!-- follow -->
</div><!-- end of extra -->