<footer role="contentinfo">
  <span class="copyright">&copy; 2012–{{ site.time | date: "%Y" }} Kevin Finlayson</span>
  <section class="elsewhere">
    <a href="http://twitter.com/kevinfinlayson" title="@kevinfinlayson" class="social-link twitter-icon">Follow me on Twitter</a>
    <a href="http://dribbble.com/players/kevinfinlayson" title="Dribbble" class="social-link dribbble-icon">Recent work on Dribbble</a>
    <a href="/feed" title="RSS" class="social-link rss-icon">Subscribe to RSS</a>
    </section><!-- elsewhere -->
</footer><!-- end of contentinfo -->