<header role="banner">

  <h1><a href="http://dustandmold.net" title="Kevin Finlayson" rel="home">Kevin Finlayson, Designer</a></h1>

  <p class="profile">I’m an Montreal-based UI designer, and this blog is where I discuss design theory and practice for the web.</p><!-- end of profile -->

   <nav role="navigation">
     <a href="/" rel="home" title="Home">Home</a>
     <a href="/posts/" rel="archives" title="Archives">Archives</a>
     <a href="http://dustandmold.net" title="Work">Work</a>
     <a href="/posts.xml" title="RSS">RSS</a>
   </nav><!-- navigation -->

</header><!-- end of banner -->