<header role="banner">

<a href="/" title="home" class="kf"><i data-icon="k" aria-hidden="true"></i>{Title}</a>

  <nav role="navigation">
   <a href="/" title="Blog" class="blog" rel="home">Blog</a>
   <a href="http://dustandmold.net" title="Work">Work</a>
   <a href="/about/" title="About" class="about">About</a>
   <a rel="me" title="Mastodon" href="https://indieweb.social/@kevinfinlayson">Mastodon</a>
   <a href="http://twitter.com/kevinfinlayson"  title="Twitter">Twitter</a>
  </nav><!-- navigation -->

</header><!-- end of banner -->