<header role="banner">

  <a href="/" title="Kevin Finlayson" rel="home" class="logo">Kevin Finlayson</a>

  <nav role="navigation">
   <a href="/" title="Blog" class="blog" rel="blog">Blog</a>
   <a href="/artchive" title="Archive" class="archive">Archive</a>
   <a href="http://dustandmold.net" title="Work">Work</a>
   <a href="/about.php" title="About" class="about">About</a>
  </nav><!-- navigation -->

  <section class="profile">
    <p>I’m Kevin Finlayson, designer of interfaces for the web. These articles, links and errata are an attempt to contribute to the discourse in and around web design and development.</p>
  </section><!-- profile -->

</header><!-- end of banner -->