<aside role="complementary" class="sidebar">
  <section class="introduction">
    <header>
      <h3>Introduction</h3>
    </header>
    <p>I design and build web products for some amazing clients, including MetaLab Design, Mozilla, Warner Music Canada and <a href="http://paperbagrecords.com" title="Paper Bag Records">Paper Bag Records</a>. You can see my work or contact me with project inquiries at <a href="http://dustandmold.net" title="Dust and Mold Design">Dust and Mold Design</a>.</p>
  </section><!-- end of introduction -->
  <section class="elsewhere">
    <header>
      <h3>Elsewhere</h3>
    </header>
    <ul>
      <li><a href="http://twitter.com/kevinfinlayson" class="social-link" title="Twitter"><span class="social-icon twitter">Twitter</span>@kevinfinlayson</a></li>
      <li><a href="http://floatinglights.tumblr.com" class="social-link" title="Tumblr"><span class="social-icon tumblr">Tumblr</span>floatinglights</a></li>
      <li><a href="http://gimmebar.com/loves/kevinfinlayson" class="social-link" title="Gimme Bar"><span class="social-icon gimmebar">Gimme Bar</span> kevinfinlayson</a></li>
    </ul>
  </section><!-- end of elsewhere -->
  <section class="recommended-articles">
    <header>
      <h3>Recommended Articles</h3>
    </header>
    <ul>
      <li><a href="/posts/2012-01-14-a-better-metaphor" title="A Better Metaphor">A Better Metaphor</a></li>
      <li><a href="/posts/2012-01-15-vanilla-design" title="Vanilla Design">Vanilla Design</a></li>
      <li><a href="/posts/2012-01-11-onspecialness" title="On Specialness">On Specialness</a></li>
    </ul>
  </section><!-- end of recommended articles -->
</aside><!-- end of sidebar -->