<aside role="complementary" class="sidebar">
  <section class="about">
    <header>
      <h3>About</h3>
    </header>
    <p>Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  </section><!-- about -->
</aside><!-- end of sidebar -->