<div class="pagination single">
  <div class="previous">
  {% if page.previous.url %}
      <a href="{{page.previous.url}}" title="Previous: {{page.previous.title}}">← Previous<span>: {{page.previous.title| truncate: 30 }}<span></a>
  {% endif %}
  </div><!-- previous -->
  <div class="next">
  {% if page.next.url %}
      <a href="{{page.next.url}}" title="next Post: {{page.next.title}}" class="next">Next<span>: {{page.next.title | truncate: 30 }}</span> →</a>
  {% endif %}
  </div><!-- next -->
</div><!-- pagination -->
