<div class="pagination single">
  {% if page.previous.url %}
    <div class="previous">
      <a href="{{page.previous.url}}" title="Previous: {{page.previous.title}}">← Previous<span>: {{page.previous.title}}<span></a>
    </div><!-- previous -->
  {% endif %}
  {% if page.next.url %}
    <div class="next">
      <a href="{{page.next.url}}" title="next Post: {{page.next.title}}" class="next">Next<span>: {{page.next.title}}</span> →</a>
    </div><!-- next -->
  {% endif %}
</div><!-- pagination -->
