<ul class="where-to-find-me">
  {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="username">Github</span></a></li>{%- endif -%} 
  {%- if site.arena_username -%}<li><a href="https://are.na/{{ site.arena_username| cgi_escape | escape }}"><span class="username">Are.na</span></a></li>{%- endif -%}
  {%- if site.mastodon_username and site.mastodon_url -%}<li><a href="https://{{ site.mastodon_url| cgi_escape | escape}}/@{{site.mastodon_username}}"><span class="username">Mastodon</span></a></li>{%- endif -%}
  {%- if site.instagram_username -%}<li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><span class="username">Instagram</span></a></li>{%- endif -%}
  {%- if site.instagram_username -%}<li><a href="https://threads.net/@{{ site.instagram_username| cgi_escape | escape }}"><span class="username">Threads</span></a></li>{%- endif -%}
  {%- if site.strava_username -%}<li><a href="https://strava.com/athletes/{{ site.strava_username }}"><span class="username">Strava</span></a></li>{%- endif -%}
  {%- if site.x_username -%}<li><a href="https://twitter.com/{{ site.x_username| cgi_escape | escape }}"><span class="username">X</span></a></li>{%- endif -%}
 
</ul>