// Fonts


@font-face {
    font-family: "fragment-mono";
    src: url('../assets/fonts/Fragment-Mono-Latin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gt-america-medium";
    src: url('../assets/fonts/GT-America-Standard-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gt-america-bold";
    src: url('../assets/fonts/GT-America-Standard-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}