// Fonts


@font-face {
    font-family: "fragment-mono";
    src: url('../fonts/Fragment-Mono-Latin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gt-america-medium";
    src: url('../fonts/GT-America-Standard-Medium-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gt-america-bold";
    src: url('../fonts/GT-America-Standard-Bold-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}