/*
Layout
--------------------------------*/

.container {
    min-height: 100%;
    min-width: 320px;
    padding: 0 calc(2 * $section-padding-wide);
    background-color: $white;

    @include breakpoint(tablet) {
      padding: 0 $section-padding-wide;
    }

    @include breakpoint(phablet) {
      padding: 0 $section-padding;
    }

    @include breakpoint(phone) {
      padding: 0 $spacing;
    }
  }
  
  .container-inner {
    max-width: 1140px;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
  
    @include breakpoint(phone) {
      // padding: 0 $spacing-half;
    }
  }
