/* Nav */

.site-nav {
  // background-color: purple;
    float: right;
    line-height: $base-line-height * $base * 2.25;
  
    .nav-trigger {
      display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $black;
      line-height: $base-line-height;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  
    @include breakpoint(phablet) {
      position: absolute;
      top: 80px;
      right: 0px;
      background-color: $white;
      border: 1px solid $light-grey;
      border-radius: 5px;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $dark-grey;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 7px $section-padding 7px $text-spacing-half;
        line-height: $wide-line-height;
  
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }

    @include breakpoint(phone) {
      top: 54px;
    }
  }

  .about .nav-about, .work .nav-work, .approach .nav-approach {
    text-decoration: underline;
  }
