// Variables

// Colors

$text-color: #0E181B;
$background-color: #F5F5F5;
$grey-color-light: #E0E0E0;
$grey-color-dark: #757575;

// Fonts

$mono: "Fragment Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
$medium-sans: "GT America medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$bold-sans: "GT America bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

// Type scale

$base-font-size: 16px;
$small-font-size: 14px;
$large-font-size: 24px;
$larger-font-size: 36px;
$display-font-size: 80px;

//Line height

$base-line-height: 1.5;
$tight-line-height: 1.2;
$tighter-line-height: 1.1;

// Magic numners

$spacing-unit: 24px;
