// Variables

// Colors

$black: #0E181B;
$white: #FFFFFF;
$near-white: #F5F5F5;
$accent: #FFA76F;
$light-grey: #E0E0E0;
$dark-grey: #757575;

// Fonts

$mono: "Fragment Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
$medium-sans: "GT America medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$bold-sans: "GT America bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

// Type scale

$small: 14px;
$base: 16px;
$large: 24px;
$larger: 36px;
$largest: 48px;
$display: 80px;

//Line height

$base-line-height: 1.5;
$tight-line-height: 1.2;
$tighter-line-height: 1.1;

// Magic numners

$spacing: 24px;
$spacing-half: 12px;
$section-padding-wide: 48px;
$text-spacing: 32px;
$text-spacing-half: 16px;
