// Variables

// Colors

$black: #0E181B;
$white: #FFFFFF;
$near-white: #F5F5F5;
$accent: #FFA76F;
$blue-accent: #1D879C;
$light-grey: #E0E0E0;
$medium-grey: #9A9DA0;
$dark-grey: #757575;
$notification: #0d5b86;
$notification-background: #e3f2ff;

// Fonts

$mono: "fragment-mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
$medium-sans: "gt-america-medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$bold-sans: "gt-america-bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$emoji: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';

// Type scale

$smallest: 10px;
$smaller: 12px;
$small: 14px;
$base: 16px;
$large: 21px;
$larger: 24px;
$still-larger: 36px;
$even-larger: 48px;
$largest: 56px;
$even-largest: 64px;
$display: 80px;
$mega-display: 96px;

//Line height

$wide-line-height: 2;
$base-line-height: 1.5;
$tight-line-height: 1.2;
$tighter-line-height: 1.1;

// Magic numners

$spacing: 24px;
$spacing-half: 12px;
$section-padding: 36px;
$section-padding-wide: 48px;
$text-spacing: 32px;
$text-spacing-half: 16px;
