<!doctype html>
<!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">
  <div class="container">
    {% include header.html %}
    {{ content }}
    {% include pagination.html %}
    {% include footer.html %}
  </div><!-- end of container -->
  {% include scripts.html %}
</body>
</html>