---
layout: default
---

<div class="content" aria-label="Content">
  {%- if page.title -%}
  <header class="page-header">   
  {% assign titleWords = page.title | split: ' ' %}
    <h1 class="page-heading">{% for word in titleWords %}{% if forloop.last %}&nbsp;{{word}}{% else %} {{ word }}{% endif %}{% endfor %}
    </h1>
  </header><!-- page-header -->
  {%- endif -%}

  <div class="content-column-wrapper">
    <div class="content-column content-main">
    {{ content }} 
    </div><!-- content-column-main -->
    <div class="content-column content-sidebar">
      <h5>Where to find me</h5>
      {% include where-to-find-me.html %}
    </div><!-- content-column-sidebar-->
  </div><!-- content-column-wrapper -->


  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
