<!doctype html>
<!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
<body>
  <div class="container">
    {% include header.html %}
    <section role="main">
      <article>
        <header>
          <h2>{{ page.title }}</h2>
          <abbr class="date">{{ page.date | date: "%b %d, %Y"}}</abbr>
        </header>
        <div class="article-content">
          {{ content }}
        </div><!-- end of article-content -->
      </article>
    </section><!-- main -->
    {% include single_pagination.html %}
    {% include footer.html %}
  </div><!-- end of container -->
  {% include scripts.html %}
</body>
</html>