---
title: Home
---

<div class="l-container l-hero-container">
  <section class="l-hero">
  <h1>Visual and Interaction Design for the web</h1>
  <p class="hero-text">Hi, I’m Kevin Finlayson, a designer based in Montreal. Please check out some case studies of my work below, see the full <%= link_to 'project archive', '/work.html' %>, check out <%= link_to 'my writing', '/writing.html' %>, or learn more <%= link_to 'about me', '/about.html' %>.</p><!-- .hero-text -->
  </section><!-- .l-hero -->

</div><!-- .l-container .l-hero-container -->
<div class="l-container .l-home-case-studies-container">
  <section class=".l-home-case-studies">
    <div class="case-study home-case-study ">
    <header>
      <h5 class="subtitle">Slick e-commerce</h5><!-- .subtitle -->
      <h3>Atlantic Shopify theme</h3>
    </header>
    </div><!-- .case-study .home-case-study -->
    <div class="case-study home-case-study ">
    <header>
      <h5 class="subtitle">Best-selling grid-design</h5><!-- .subtitle -->
      <h3>Halcyon Shopify theme</h3>
    </header>
    </div><!-- .case-study .home-case-study -->
    <div class="case-study home-case-study ">
      <header>
        <h5 class="subtitle">Minimal, playful and content-focused</h5><!-- .subtitle -->
        <h3>Philtre Films website</h3>
      </header>
    </div><!-- .case-study .home-case-study -->
    <div class="case-study home-case-study ">
      <header>
        <h5 class="subtitle">A robust showcase of music and culture</h5><!-- .subtitle -->
        <h3>Paper Bag Records website</h3>
      </header>
    </div><!-- .case-study .home-case-study -->
    <div class="case-study home-case-study ">
      <header>
        <h5 class="subtitle">Generic design elevated to new heights</h5><!-- .subtitle -->
        <h3>New Standard Shopify theme</h3>
      </header>
    </div><!-- .case-study .home-case-study -->
    <div class="case-study home-case-study ">
      <header>
        <h5 class="subtitle">An engrossing, visually-rich music website</h5><!-- .subtitle -->
        <h3>Last Gang Entertainment website</h3>
      </header>
    </div><!-- .case-study .home-case-study -->

    <div class=".cta .home-case-study-cta">

    </div><!-- .cta .home-case-study-cta -->
  </section><!-- .l-home-case-studies -->

</div> <!-- .l-container .l-content-container -->